<div class="entry">
    <h1>{{title}}</h1>
    <div class="body">
        <ul class="people_list">
            {{#each tours}}
            <div>
                <a href={{href}} >{{title}}</a>
            </div>
            {{/each}}
        </ul>
    </div>
</div>