<div>
    <form method='POST'>
        <input type="text" value='{{name}}' name='name' >
        <input type="submit" value='Изменить' >
    </form>
    <div>
        <a href='/'>К списку</a>
        <a href='/task/delete/{{_id}}'>Удалить</a>
    </div>
</div>